body {
    background-image: radial-gradient(circle at top left,rgba(255, 0, 255, 0.581),rgba(4, 8, 246, 0.537));
    height: 100vh;
    font-family: Lato, sans-serif !important;
}

.input-form-thin {
    display: grid;
    grid-template-rows: 0.1fr repeat(4,1fr);
    text-align: center;
    gap: 1rem;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    margin-top: 40px !important;
    background-image: radial-gradient(circle at top left,#fcfbfc70,#7800f97d,#e900f57a);
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}
input, select {
    border: none;
    font-size: 20px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(191, 221, 248, 0.49);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.8);
    font-family: Lato, sans-serif !important;
    text-align: center;
}
select {
    width: 60px;
}

.create-button {
    border: none;
    font-size: 20px;
    height: 35px;
    width: 300px;
    border-radius: 10px;
    background-image: radial-gradient(circle at top left,#fcfbfc41,#7800f941,#0021f535);
    background-color: rgba(0, 193, 193, 0.54);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.8);
    font-family: Lato, sans-serif !important;
    font-size: 30px;
}

.create-button:hover {
    background-image: radial-gradient(circle at top left,#5953f575,#0021f5a2);
}

.dark-mode {
    background-image: none;
    background-color: black;
    color: white;
}
.white-text {
    color: white;
}
#light-button {
    background-color: black;
    color: white;
}
.x-button {
    color: black;
    background-color: rgba(191, 221, 248, 0.345);
    float: left;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    font-weight: 900;
}